# Introduction to Pandas: Loading Datasets (CSV and TSV Only)

## In this tutorial, we will learn how to:
#### - Load datasets from CSV and TSV files
#### - Explore the loaded data

## Let's get started!

### 1. Importing Pandas
#### Pandas is the primary library we will use for data manipulation and analysis.

In [2]:
import pandas as pd

### 2. Loading a Dataset from a CSV File
#### Let's load a sample dataset stored in a CSV file.

In [3]:
# Load the dataset
df_csv = pd.read_csv("dummy_data.csv")

# Display the first 5 rows of the dataset
print("First 5 rows of the CSV dataset:")
df_csv.head()

First 5 rows of the CSV dataset:

      Name  Age         City  Score
0    Alice   25     New York     85
1      Bob   30  Los Angeles     90
2  Charlie   35      Chicago     88
3    David   40      Houston     76
4      Eva   28      Phoenix     95

### 3. Loading a Dataset from a TSV File
#### TSV files are similar to CSV files but use tabs instead of commas as delimiters.

In [5]:
# Load the TSV dataset
df_tsv = pd.read_csv("dummy_data.tsv", sep="\t")

# Display the first 5 rows of the dataset
print("\nFirst 5 rows of the TSV dataset:")
df_tsv.head()

First 5 rows of the TSV dataset:

      Name  Age         City  Score
0    Alice   25     New York     85
1      Bob   30  Los Angeles     90
2  Charlie   35      Chicago     88
3    David   40      Houston     76
4      Eva   28      Phoenix     95

### 4. Exploring the Data
#### After loading a dataset, it is important to understand its structure.

In [7]:
# CSV Dataset: Get the shape of the dataset (number of rows and columns)
print("\nShape of the CSV dataset (rows, columns):")
df_csv.shape

Shape of the CSV dataset (rows, columns):

(5, 4)

In [8]:
# TSV Dataset: Display basic information about the dataset
print("\nTSV Dataset information:")
df_tsv.info()

TSV Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
 3   Score   5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes